{% import "components/form/fields_macros.html.twig" as fields %}

{% set bg = "" %}
{% if item.isDeleted() %}
    {% set bg = "asset-deleted" %}
{% endif %}

    {% set rand = random() %}
    {% set params  = params ?? [] %}
    {% set target       = params['target'] ?? item.getFormURL() %}
    {% set withtemplate = params['withtemplate'] ?? "" %}
    {% set item_type = item.getType() %}

    
{% if item.isField('webapplicationexternalexpositions_id') %}
    {{ fields.dropdownField(
        "PluginWebapplicationsWebapplicationExternalExposition",
        "webapplicationexternalexpositions_id",
        item.fields['webapplicationexternalexpositions_id'],
        "PluginWebapplicationsWebapplicationExternalExposition"|itemtype_name,
        {'align_label_right' : false,}
    ) }}
{% endif %}

{{ fields.smallTitle(__('Security Needs')) }}
<table>
    <tbody>
    <tr>
        <td>
            {% if item.isField('webapplicationavailabilities') %}
                {{ fields.dropdownNumberField(
                    'webapplicationavailabilities',
                    item.fields['webapplicationavailabilities'],
                    "PluginWebapplicationsWebapplicationAvailability"|itemtype_name,
                    {
                        'min'            : 1,
                        'max'            : 4,
                        'step'           : 1,
                        'field_class': 'col-12',
                        'label_class': 'col-xxl-8',
                        'input_class': 'col-xxl-4',}
                ) }}
            {% endif %}
        </td>
        <td>
            {% if item.isField('webapplicationintegrities') %}
                {{ fields.dropdownNumberField(
                    'webapplicationintegrities',
                    item.fields['webapplicationintegrities'],
                    "PluginWebapplicationsWebapplicationIntegrity"|itemtype_name,
                    {
                        'min'            : 1,
                        'max'            : 4,
                        'step'           : 1,
                        'field_class'    : 'col-12',
                        'label_class'    : 'col-xxl-8',
                        'input_class'    : 'col-xxl-4',}
                ) }}
            {% endif %}
        </td>
        <td>
            {% if item.isField('webapplicationconfidentialities') %}
                {{ fields.dropdownNumberField(
                    'webapplicationconfidentialities',
                    item.fields['webapplicationconfidentialities'],
                    "PluginWebapplicationsWebapplicationConfidentiality"|itemtype_name,
                    {
                        'min'            : 0,
                        'max'            : 4,
                        'step'           : 1,
                        'field_class': 'col-12',
                        'label_class': 'col-xxl-8',
                        'input_class': 'col-xxl-4',}
                ) }}
            {% endif %}
        </td>
        <td>
            {% if item.isField('webapplicationtraceabilities') %}
                {{ fields.dropdownNumberField(
                    'webapplicationtraceabilities',
                    item.fields['webapplicationtraceabilities'],
                    "PluginWebapplicationsWebapplicationTraceability"|itemtype_name,
                    {
                        'min'            : 1,
                        'max'            : 4,
                        'step'           : 1,
                        'field_class': 'col-12',
                        'label_class': 'col-xxl-8',
                        'input_class': 'col-xxl-4',}
                ) }}
            {% endif %}
        </td>

    </tr>
    </tbody>
</table>
